//Importar las fuentes


//Fuentes



//Tamaño de media queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

//Colores
$color1: rgb(60,60,59);
$color2: #6e6e6e;
$color3: #E9ECF4;
$color4: rgb(245,245,245);

//Grosor de Fuentes
$delgada: 300;
$regular: 400;
$bold: 700;